doctype html
html(lang="fi")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Profiili
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
  body
    .container.mt-4
      h3 Profiili
      p Sähköposti: opettaja@lut.fi
      p Nimi: Ope Opettaja
      p Bio: Olen opettaja Lappeenrannan teknillisestä yliopistosta (eli viisas). Opetan ohjelmistotuotantoa...
      p Tapahtumien määrä: 645
      p Suosituin tapahtuma: Kaatokänni Karaoke 478 kpl (4kpl/viikko)
      p Suosituin reaktio: Olutpullo 345 kpl (3kpl/viikko)
      button.btn.btn-primary(onclick="window.location.href='/'") Takaisin
